.cassettator-markers {
  --cst-default-background-color: rgba(115, 133, 159, 0.5);
  /* private variables */
  --_cst-marker-played: 0%;
  /* TODO implement buffered */
  --cst-marker-buffered: 0%;
}

.cassettator-markers .vjs-time-tooltip {
  padding: var(--cst-time-tooltip, .15em .25em);
}

.cassettator-markers .vjs-mouse-display .vjs-time-tooltip {
  white-space: nowrap;
  transform: translateX(-50%);
}

/* remove mouse display flickering when hovering with the mouse */
.cassettator-markers .vjs-progress-control .vjs-mouse-display {
  pointer-events: none;
}

.cst-markers {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: var(--cst-markers-gap, 5px);
}

.cst-markers:empty {
  background: var(--cst-markers-background-color, var(--cst-default-background-color));
}

.cst-marker {
  height: 100%;
  background: linear-gradient(to right,
      var(--cst-marker-played-background-color, #fff) var(--_cst-marker-played),
      var(--cst-marker-buffered-background-color, transparent) 0 var(--cst-marker-buffered),
      var(--cst-marker-background-color, var(--cst-default-background-color)) 0%);
  border-radius: var(--cst-marker-border-radius, 0.05em);
}

.cassettator-markers .vjs-progress-holder,
.cassettator-markers .vjs-load-progress,
.cassettator-markers .vjs-load-progress div,
.cassettator-markers .vjs-play-progress {
  background-color: transparent;
}